<% wrap_layout :layout do %>

  <div style = "overflow-x:auto;">
    <h1><%= current_page.data.name %></h1>
    <table style="width:100%">
      <tr>
        <td>Name</td>
        <td>
          <strong><%= current_page.data.name %></strong>
        </td>
      </tr>

      <tr>
        <td>Also Known As</td>
        <td>
          <strong><%= current_page.data.contraction %></strong>
        </td>
      </tr>

      <tr>
        <td>Status</td>
        <td>
          <% status = current_page.data.catalogue_status_events.last.status %>
          <strong><%= display_status(:standard, status) %></strong>
        </td>
      </tr>

      <tr>
        <td>Specification</td>
        <td>
          <strong><a href="<%= current_page.data.specification.url %>"><%= current_page.data.specification.name %></a></strong> (published <%= current_page.data.specification.published %>)
        </td>
      </tr>

      <tr>
        <td>License</td>
        <td>
          <% license_info = license_information(current_page.data.license_id) %>
          <strong> <%= license_info[:type] %></strong> - <%= license_info[:description] %>
        </td>
      </tr>

      <tr>
        <td>Maintained By</td>
        <td><strong><%= display_organisation(current_page.data.maintainer) %></strong> </td>
      </tr>

      <tr>
        <td>Topics</td>
        <td>
          <ul>
            <% current_page.data.topics.each do |topic| %>
              <li><strong><%= topic %></strong></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <%= yield %>

<% end %>
