<% wrap_layout :layout do %>

  <div style = "overflow-x:auto;">
    <% if !current_page.data.title.nil? %>
      <h1><%= current_page.data.title %></h1>
    <% else %>
      <h1><%= current_page.data.name %></h1>
    <% end %>
    <table style="width:100%">
      <% current_page.data.each do |key, value| %>
        <tr>
          <td nowrap><%= key.titleize.capitalize %>: </td>
          <% if key == 'link' %>
            <td nowrap><strong><a href='<%= value %>'><%= value %></a></strong> </td>
          <% elsif key == 'organisation' %>
            <td nowrap><strong><%= display_organisation(value) %></strong> </td>
          <% elsif key == 'status' %>
            <td nowrap><strong><%= display_status(:standard, value) %></strong> </td>
          <% else %>
            <td nowrap><strong><%= value %></strong> </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <%= yield %>

<% end %>
