<% wrap_layout :layout do %>

  <div style = "overflow-x:auto;">
    <h1><%= current_page.data.name %></h1>
    <table style="width:100%">
      <tr>
        <td>Name</td>
        <td>
          <strong><%=link_to current_page.data.name, current_page.data.specification_url %></strong>
        </td>
      </tr>

      <tr>
        <td>Also Known As</td>
        <td>
          <strong><%= current_page.data.contraction %></strong>
        </td>
      </tr>

      <tr>
        <td>Tags</td>
        <td>
          <ul class="list-of-tags">
            <% current_page.data.tags.each do |tag| %>
              <li><strong><%= data.tags[tag].name %></strong></li>
            <% end %>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Maintained By</td>
        <td><strong><%= display_organisation(current_page.data.maintainer_id) %></strong> </td>
      </tr>

      <tr>
        <td>Licence</td>
        <td>
          <%= display_licence(current_page.data.licence_id) %>
        </td>
      </tr>

      <tr>
        <td>Status</td>
        <td>
          <% status = current_page.data.endorsement_status_events.last.status %>
          <strong><%= display_status(:standard, status) %></strong>
        </td>
      </tr>
    </table>
  </div>

  <%= yield %>

<% end %>
